@{
    ViewBag.Title = "Home Page";
}

<div id ="flash">
	<h1> Insert Pornhub banner here.</h1>
</div>

<script type="text/javascript">
    //As per request by Tjn
    var toggle = true;
    setInterval(function () {
        if (toggle) {
            $("#flash").css("background-color", "red");
        } else {
            $("#flash").css("background-color", "yellowgreen");
        }
        toggle = !toggle;
    }, 300);
</script>


<body>
    <h2>Spectacular prices here!</h2>
    <img src="http://img2.wikia.nocookie.net/__cb20130527140922/austinally/images/thumb/0/06/HappyCat.jpg/1280px-HappyCat.jpg" style="width:304px;height:228px">
</body>
