@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/funScripts")

<div id ="flash">
	<h1> Insert Pornhub banner here.</h1>
</div>

<html>
<body>

    <h2>Spectacular Prices here!</h2>
    <img src="http://img2.wikia.nocookie.net/__cb20130527140922/austinally/images/thumb/0/06/HappyCat.jpg/1280px-HappyCat.jpg" style="width:304px;height:228px">

</body>
</html>